@import "tailwindcss";

@font-face {
  font-family: "PPObjectSans";
  src: url("/fonts/PPObjectSans-Heavy") format("otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "PPObjectSans";
  src: url("/fonts/PPObjectSans-HeavySlanted") format("otf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "PPObjectSans";
  src: url("/fonts/PPObjectSans-Regular") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPObjectSans";
  src: url("/fonts/PPObjectSans-Slanted") format("otf");
  font-weight: 400;
  font-style: italic;
}
